!data/.keep
*.bak
.DS_Store
.env
.git
.github
.idea
.mypy_cache
.poetry
.project
.pylintrc
.pytest_cache
.python-version
.ruff_cache
**/__pycache__/
**/*.py[cod]
**/*$py.class
.vscode/
.venv/
docs
examples
dist
data/*
docker-compose.*yml
tests
