[tool.poetry]
name = "chibi"
version = "1.0.0"
description = "Another one ChatGPT Telegram bot"
authors = ["Sergei Nagaev <nagaev.sv@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
httpx = "0.28.1"
loguru = "0.7.3"
openai = "1.68.2"
pydantic = "2.10.6"
pydantic-settings = "^2.8.1"
python-telegram-bot = {extras = ["socks"], version = "^22.0"}
redis = {extras = ["hiredis"], version = "5.2.1"}
telegramify-markdown = "0.5.0"

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
flake8 = "^6.0.0"
isort = "^5.12.0"
mypy = "1.10.0"
flake8-pyproject = "^1.2.3"

[tool.poetry.requires-plugins]
poetry-plugin-export = ">=1.8"

[tool.black]
line-length = 120
include = ".pyi?$"

[tool.isort]
profile = "black"

[tool.mypy]
python_version = "3.11"
check_untyped_defs = true
files = "**/*.py"
follow_imports = "silent"
ignore_missing_imports = true
show_column_numbers = true
strict = false
warn_redundant_casts = true
warn_unused_configs = true
warn_unused_ignores = true
allow_untyped_calls = true
plugins = [ "pydantic.mypy" ]

[tool.flake8]
ignore = "E203,E266,H106,H904,W503"
max-line-length = 120
exit-zero = true
exclude = " .git,__pycache__ "

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
